{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <form method="post">{% csrf_token %}
    <p>Tanlangan obyektlar:</p>
    <ul>
      {% for obj in objects %}<li>{{ obj }}</li>{% endfor %}
    </ul>
    {{ form.as_p }}
    {% for obj in objects %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="apply" value="1">
    <input type="submit" class="default" value="Saqlash">
    <a href="javascript:history.back()" class="button cancel-link">Bekor qilish</a>
  </form>
{% endblock %}
